<section class="section" id="about">
<!-- Title -->
<div class="section-heading">
  <h3 class="title is-2 is-vcentered center"><%= @page.title  %></h3>
  <h4 class="subtitle is-5 center">E-commerce Website with Full Stack</h4>
  <div class="container center">
    <p><%= @page.content  %></p>
  </div>
</div>




<div class="columns has-same-height is-gapless">
<div class="column">
  <!-- Profile -->
  <div class="card customized-card">
    <div class="card-content">
      <h3 class="title is-4">Profile</h3>

      <div class="content">
        <table class="table-profile">
          <tr>
            <th colspan="1"></th>
            <th colspan="2"></th>
          </tr>
          <tr>
            <td>Address:</td>
            <td>85 Lake Grove Bay</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>204-898-3215</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>t.banihashemi@gmail.com</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="buttons has-addons is-centered">
        <a href="#" class="button is-link">Github</a>
        <a href="#" class="button is-link">LinkedIn</a>
        <a href="#" class="button is-link">Twitter</a>
      </div>
    </div>
  </div>
</div>
<div class="column">
  <!-- Profile picture -->
  <div class="card customized-card">
    <div class="card-image">
    <figure class="image">
    <%= image_tag @page.image.url %>
    </figure>

    </div>
  </div>
</div>
<div class="column">
  <!-- Skills -->
  <div class="card customized-card">
    <div class="card-content skills-content">
      <div class="content">
        <nav class="panel">
        <p class="panel-heading is-3">
         <b> Discover </b>
        </p>
        <ul class="category-list">
        <% @categories.each do |category| %>

            <li><%= link_to category.name, category%></li>

        <% end %>
        </ul>
         </nav>

      </div>
    </div>
  </div>
</div>
</div>
</section>