// Place all the styles related to the order_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-underline {
    text-decoration: none;
}

form input[type=submit] {
    background: #4f91f9
}

.checkout_btn input {
    background:blue;
}

.keep-shopping-btn a {
    width:100%
}