<h1>Categories</h1>
<div class="columns is-multiline is-mobile">
<% @categories.each do |category| %>
<div class="column is-one-third">

    <div class="notification">
    <%= category.name %>
    </div>
</div>
<% end %>
</div>

