<h2 class="title is-2"><%= @category.name  %></h2>


<div class="columns is-multiline is-mobile">
    <% @category.products.each do |product|  %>
        <div class="column is-one-quarter box-border">


                <h1 class="title"><%= product.title  %></h1>

                <%= image_tag product.Image.custom.url %>

        </div>
    <% end %>

</div>