<h2 class="title is-2"><%= @category.name  %></h2>


<div class="row columns">
<% @category.products.each do |product|  %>
<div class="column is-one-quarter">
    <div class="card large">
    <div class="card-content" style="background:black">

    <div class="content category-title">
    <%= link_to product.title, product,{ :class => "category-title", :style => 'color:#fff' }%>
    </div>
    </div>
          <div class="card-image">
              <figure class="image">
              <%= image_tag product.Image.url %>
              </figure>
          </div>


    </div>
</div>
<% end %>
</div>